builddir/
build/

# ide
.vscode/
.env

# cache
.cache
.ipynb_checkpoints/*

# subprojects
subprojects/packagecache/
subprojects/tomlplusplus-*
subprojects/Vulkan-Headers-*
subprojects/pybind11-*
general-testing.ipynb
build-dbg/
