builddir/
wasmbuild/
build/
dist/

#logs
*.log

# ide
.vscode/
.env
.venv*/
.pyodide-xbuildenv*/
.tox/

# cache
.cache
.pytest_cache/
.ipynb_checkpoints/
__pycache__/

# subprojects
subprojects/packagecache/
subprojects/tomlplusplus-*
subprojects/Vulkan-Headers-*
subprojects/pybind11-*
general-testing.ipynb
build-dbg/
